/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #f6f2e9;
  color: #444;
  cursor: pointer;
  /*padding: 18px;*/
  width: 100%;
  height: 40px;
  text-align: left;
  border: 1px solid #A8A8A8;
  outline: none;
  transition: 0.4s;
  border-radius: 3px;
}

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #f6f2e9;
  }

  .accordion:after {
    content: '\2795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 5px;
  background-color: white;
  display: none;
  overflow: hidden;
  border-left: 1px solid #A8A8A8;
  border-bottom: 1px solid #A8A8A8;
  border-right: 1px solid #A8A8A8;
}

ul {
  /*list-style-type: none;*/
}

li {
  list-style-type: none;
  position: relative;
  padding-left: 5px;
}

  li:before {
    content: "•";
    font-weight: 900;
    display: block;
    width: 10px;
    height: 10px;
/*    background: #eee;
    border: solid 1px #aaa;*/
    position: absolute;
    top: 1px;
    left: -15px;
  }
