<div id="top"></div>

<div class="clr-row">
  <!--<div class="clr-col-10 clr-offset-1 clr-col-sm-10 clr-offset-sm-1 clr-col-md-10 clr-offset-md-1 clr-col-lg-8 clr-offset-lg-2 clr-col-xl-6 clr-offset-xl-3" style="font-size:large">-->
  <div class="clr-col-12 clr-col-sm-12 clr-col-md-10 clr-offset-md-1 clr-col-lg-8 clr-offset-lg-2 clr-col-xl-6 clr-offset-xl-3" style="font-size: large; text-align: justify; text-justify: inter-word;">


    <h3><u>Our Contact Details</u></h3>

    <br />

    <div class="clr-row">
      <div class="clr-col-6">
        <b>PAMC Call Center</b>
      </div>
      <div class="clr-col-6">
        087 943 9612
      </div>
    </div>
    <br />
    <div class="clr-row">
      <div class="clr-col-6">
        <b>General Enquiries</b>
      </div>
      <div class="clr-col-6">
        <a href="mailto:enquiries@pamc.co.za">enquiries@pamc.co.za</a>
      </div>
    </div>
    <br />
    <div class="clr-row">
      <div class="clr-col-6">
        <b>Provider Enquiries</b>
      </div>
      <div class="clr-col-6">
        <a href="mailto:network@pamc.co.za">network@pamc.co.za</a>
      </div>
    </div>
    <br />
    <div class="clr-row">
      <div class="clr-col-6">
        <b>Authorization Enquiries</b>
      </div>
      <div class="clr-col-6">
        <a href="mailto:auth@pamc.co.za">auth@pamc.co.za</a>
      </div>
    </div>
    <br />
    <div class="clr-row">
      <div class="clr-col-6">
        <b>Claim Submissions</b>
      </div>
      <div class="clr-col-6">
        <a href="mailto:claims@pamc.co.za">claims@pamc.co.za</a>
      </div>
    </div>
    <br />
    <div class="clr-row">
      <div class="clr-col-6">
        <b>Street Address</b>
      </div>
      <div class="clr-col-6">
        262 Rose Avenue<br />
        River Falls Office Park<br />
        Marula Building<br />
        Centurion<br />
        0046
      </div>
    </div>
    <br />
    <div class="clr-row">
      <div class="clr-col-6">
        <b>Postal Address</b>
      </div>
      <div class="clr-col-6">
        Postnet Suite 341<br />
        Private Bag X2<br />
        Raslouw<br />
        Pretoria<br />
        0109
      </div>
    </div>
    <br />
    <div class="clr-row">
      <div class="clr-col-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3590.186960104979!2d28.197884714859722!3d-25.86332338359076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9565d4a746ea5b%3A0xd9267ad3cdbae6ca!2s262%20Rose%20Ave%2C%20Doringkloof%2C%20Pretoria%2C%200157!5e0!3m2!1sen!2sza!4v1646920591242!5m2!1sen!2sza" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</div>

<!--<div class="clr-col-xl-8">
<div class="clr-row">
  <div class="clr-col-xl-1"></div>
  <div class="clr-col-xl-10" joyrideStep="firstStep" text="This is the contact details DRC" stepPosition="left">
    <br />
    <br />
    <table class="table ">
      <tbody>-->
<!--DRC CONTACT DETAILS-->
<!--<tr>
  <td class="center" rowspan="5" width="445" height="200" style="border-bottom: none">
    <img src="../../../assets/DRC_Logo.png" alt="DRC logo" style="max-height:185px;max-width:210px;height:auto;width:auto">
  </td>
  <td style="border-bottom:none; background-color:#D9E4EA;" width="445"><b>DRC Call Center</b></td>
  <td style="border-bottom:none;">087 943 9611</td>
</tr>
<tr>
  <td style="border-bottom:none;border-top:none; background-color:#D9E4EA" width="445"> <b>General Enquiries</b></td>
  <td style="border-bottom:none;border-top:none; "><a href="mailto:enquiries@dentalrisk.com">enquiries@dentalrisk.com</a></td>
</tr>
<tr>
  <td style="border-bottom:none;border-top:none; background-color:#D9E4EA" width="445"><b>Provider Enquiries</b></td>
  <td style="border-bottom:none;border-top:none; "><a href="mailto:network@dentalrisk.com">network@dentalrisk.com</a></td>
</tr>
<tr>
  <td style="border-bottom:none;border-top:none; background-color:#D9E4EA" width="445"> <b>Authorization Enquiries</b></td>
  <td style="border-bottom:none;border-top:none; "><a href="mailto:auth@dentalrisk.com">auth@dentalrisk.com</a></td>
</tr>
<tr>
  <td style="border-top: none; background-color: #D9E4EA; border-bottom: none" width="445"><b>Claim Submissions</b></td>
  <td style="border-top:none; border-bottom:none"><a href="mailto:claims@dentalrisk.com">claims@dentalrisk.com</a></td>
</tr>-->
<!--PAMC CONTACT DETAILS-->
<!--<tr>
            <td class="center" rowspan="7" width="445" height="200" style="border-top:none;">
              <img src="../../assets/PAMC - Logo.jpg" alt="PAMC logo" style="max-height:156px;height:auto;max-width:340px;width:auto">
            </td>
            <td style="border-bottom: none; background-color: #D9E4EA; border-top: none;" width="445"><b>PAMC Call Center</b></td>
            <td style="border-bottom: none; border-top: none; text-align: left">087 943 9612</td>
          </tr>
          <tr>
            <td style="border-bottom:none;border-top:none; background-color:#D9E4EA" width="445"> <b>General Enquiries</b></td>
            <td style="border-bottom: none; border-top: none; text-align: left "><a href="mailto:enquiries@pamc.co.za">enquiries@pamc.co.za</a></td>
          </tr>
          <tr>
            <td style="border-bottom:none;border-top:none; background-color:#D9E4EA" width="445"><b>Provider Enquiries</b></td>
            <td style="border-bottom: none; border-top: none; text-align: left "><a href="mailto:network@pamc.co.za">network@pamc.co.za</a></td>
          </tr>
          <tr>
            <td style="border-bottom:none;border-top:none; background-color:#D9E4EA" width="445"> <b>Authorization Enquiries</b></td>
            <td style="border-bottom: none; border-top: none; text-align: left "><a href="mailto:auth@pamc.co.za">auth@pamc.co.za</a></td>
          </tr>
          <tr>
            <td style="border-bottom:none;border-top:none; background-color:#D9E4EA" width="445"><b>Claim Submissions</b></td>
            <td style="border-bottom: none; border-top: none; text-align: left "><a href="mailto:claims@pamc.co.za">claims@pamc.co.za</a></td>
          </tr>
          <tr>
            <td style="border-bottom:none;border-top: none; background-color:#D9E4EA" width="445"><b>Street Address</b></td>
            <td style="border-bottom:none;border-top: none; text-align: left ">
              262 Rose Avenue,
              River Falls Office Park,
              Marula Building,
              Centurion,
              0046
            </td>
          </tr>
          <tr>
            <td style="border-top:none; background-color:#D9E4EA" width="445"><b>Postal Address</b></td>
            <td style="border-top:none; text-align: left ">
              Postnet Suite 341,
              Private Bag X2,
              Raslouw,
              Pretoria,
              0109
            </td>
          </tr>
        </tbody>
      </table>
      <br />

    </div>
    <div class="clr-col-xl-1"></div>
  </div>
</div>

<div class="clr-col-2"></div>-->
<!--<div class="clr-row">
  <div class="clr-col-2"></div>
  <div class="clr-col-xl-8">
    <div class="clr-row">
      <div class="clr-col-xl-1"></div>
      <div class="clr-col-xl-10" joyrideStep="firstStep" text="This is the contact details DRC" stepPosition="left">

        <p><a href="http://www.youtube.com/watch_popup?v=fxfzBQHMVmc" target="_blank">Click here to watch our MediVouch demonstration</a></p>

        <br />

        <iframe width="100%" height="500"
                src="https://www.youtube.com/embed/fxfzBQHMVmc"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
        <br />
        <br />
      </div>
      <div class="clr-col-xl-1"></div>
    </div>
  </div>

  <div class="clr-col-2"></div>
</div>-->
