
<clr-main-container style="background-color:white">
  <!--<img src="../../assets/pamc_banner.jpg" style="max-height: 125px; min-height: 125px; height: 125px; width: 3000px; left: 50%; margin-left: -1500px; position: absolute; overflow: hidden auto; " />-->
  <img src="../../assets/pamc_banner.jpg" style="max-height:125px; min-height:125px; max-width:3000px;height:auto;width:100%;" />
  <img src="../../assets/pamc_logo_web1.png" style="max-height: 125px; min-height: 125px; height: auto; width: auto; position: fixed; left: 50%; margin-left: -132px; " />
  <clr-header class="header-6" style="background-color: #c09e61;">
    <!--<div class="branding">
    <a href="..." class="nav-link">-->
    <!--<clr-icon shape="library"></clr-icon>-->
    <!--<span class="title">PAMC</span>-->
    <!--</a>
    </div>-->
    <div class="header-nav" [clr-nav-level]="1" *ngIf="this._appService.DataService.ScreenWidth >= 768" style="position: fixed; left: 50%; margin-left: -465px;">
      <a href="..." class="nav-link" [routerLink]="['/Home']" routerLinkActive="active" (click)="this.media = false;" (mouseover)="this.media = false;">
        <span class="nav-text">Home</span>
      </a>
      <a href="..." class="nav-link" [routerLink]="['/ProviderNetwork']" routerLinkActive="active" (click)="this.media = false;" (mouseover)="this.media = false;">
        <span class="nav-text">Provider Network</span>
      </a>
      <a href="..." class="nav-link" [routerLink]="['/MemberBenefits']" routerLinkActive="active" (click)="this.media = false;" (mouseover)="this.media = false;">
        <span class="nav-text">Member Benefits</span>
      </a>
      <a href="..." class="nav-link" [routerLink]="['/Websites']" routerLinkActive="active" (click)="this.media = false;" (mouseover)="this.media = false;">
        <span class="nav-text">Self-Service Portals</span>
      </a>
      <clr-dropdown [clrCloseMenuOnItemClick]="true" (click)="this.media = true;" (mouseover)="this.media = true;">
        <a class="nav-link" clrDropdownToggle>
          <span class="nav-text" routerLinkActive="active">Media & Publications &#11206;</span>
        </a>

        <div class="dropdown-menu" *clrIfOpen="media" clrPosition="bottom-right">

          <a [routerLink]="['/Health-Articles']" routerLinkActive="active" clrDropdownItem>
            Health Articles
          </a>

          <a [routerLink]="['/POPIA']" routerLinkActive="active" clrDropdownItem>
            POPIA Statement
          </a>

        </div>
      </clr-dropdown>

      <a href="..." class="nav-link" [routerLink]="['/Contact']" routerLinkActive="active" (click)="this.media = false;" (mouseover)="this.media = false;">
        <span class="nav-text">Contact Us</span>
      </a>
    </div>

    <div class="header-nav" [clr-nav-level]="1" *ngIf="this._appService.DataService.ScreenWidth < 768">
      <a href="..." class="nav-link" [routerLink]="['/Home']" routerLinkActive="active">
        <span class="nav-text">Home</span>
      </a>
      <a href="..." class="nav-link" [routerLink]="['/ProviderNetwork']" routerLinkActive="active">
        <span class="nav-text">Provider Network</span>
      </a>
      <a href="..." class="nav-link" [routerLink]="['/MemberBenefits']" routerLinkActive="active">
        <span class="nav-text">Member Benefits</span>
      </a>
      <a href="..." class="nav-link" [routerLink]="['/Websites']" routerLinkActive="active">
        <span class="nav-text">Self-Service Portals</span>
      </a>
      <a href="..." class="nav-link" [routerLink]="['/Health-Articles']" routerLinkActive="active">
        <span class="nav-text">Health Articles</span>
      </a>
      <a href="..." class="nav-link" [routerLink]="['/POPIA']" routerLinkActive="active">
        <span class="nav-text">POPIA Statement</span>
      </a>
      <a href="..." class="nav-link" [routerLink]="['/Contact']" routerLinkActive="active">
        <span class="nav-text">Contact Us</span>
      </a>
    </div>

    <!--<div class="header-actions">-->
    <!--<a href="..." class="nav-link nav-icon" aria-label="settings">
      <clr-icon shape="cog"></clr-icon>
    </a>-->
    <!--</div>-->
  </clr-header>


  <div class="content-container" (mouseover)="this.media = false;">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>




  <!--Working footer for future use-->
  <!--<div class="clr-footer">
    Footer text goes here
  </div>-->
  <!--Nic does not not like the positioning of this -->
  <!--<div class="CookieNotice-BigScreen" id="Cookie" *ngIf="this.showCookieNotice && this._appService.DataService.ScreenWidth >= 768">
    <p style="margin-top: 15px">
      &#9432; We use cookies to optimise the user experience.
      &nbsp;&nbsp;&nbsp;&nbsp; <a href="javascript:void(0)" (click)="this.showCookieFullInfoModal=true">Tell me more</a>
      &nbsp;&nbsp;&nbsp;&nbsp; <a href="javascript:void(0)" (click)="HideCookieNotice()">Dismiss</a>
    </p>
  </div>-->


  <div class="CookieNotice-SmallScreen" id="Cookie" *ngIf="this.showCookieNotice">
    <p style="margin-top: 2px">
      &#9432; We use cookies to optimise the user experience. <br />
      <a href="javascript:void(0)" (click)="this.showCookieFullInfoModal=true"> Tell me more</a>
      &nbsp;&nbsp;&nbsp;&nbsp; <a href="javascript:void(0)" (click)="HideCookieNotice()">Dismiss</a>
    </p>
  </div>
</clr-main-container>

<div *ngIf="this.showCookieFullInfoModal==true">
  <div class="modal">
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
      <div class="modal-content">

        <div class="modal-header">
          <button aria-label="Close" class="close" (click)="this.showCookieFullInfoModal=false" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Cookie Policy</h3>
        </div>

        <div class="modal-body">
          <p style="font-size:large">
            We may place small text files on your device when you visit our Provider/Client portal
            that allow us to provide you with a personalised experience by associating your
            personal information with your device. They let us remember your preferences,
            allow third parties to provide services to you, and otherwise serve useful
            purposes for you. Your internet browser generally accepts them automatically,
            but you can often change this setting or delete them manually. However, we won&apos;t
            be able to provide you with access to certain aspects of our Provider/Client portal
            where cookies are necessary if you do so. We have no access to or control
            over any cookies that our business partners use on our Provider/Client portal
            and they have their own privacy polices that govern them.
          </p>
        </div>

        <div class="modal-footer">
          <button class="btn btn-outline" style="background-color: #f2eee5;color:black; border:solid 1px black" (click)="DismissCookieFullInfoModal()" type="button">Dismiss</button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div *ngIf="this.bShowMediVouchModal==true">
  <div class="modal">
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
      <div class="modal-content">

        <div class="modal-header">
          <button aria-label="Close" class="close" (click)="this.bShowMediVouchModal=false" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Upcoming Partnership</h3>
        </div>

        <div class="modal-body">
          <img src="../../assets/MediVouch70.png" style="max-height:82px;max-width:324px;height:auto;width:auto" />

          <p style="font-size:large">
            PAMC is proud to announce its partnership with MediVouch.

            PAMC service providers can now start accepting prepaid health vouchers as a form of member payment at their practices. <br /><br />

            To view this exciting programme, click <a href="javascript:void(0)" (click)="GoToMediVouchSection()">here</a>

          </p>
        </div>

        <!--<div class="modal-footer">
          <button class="btn btn-outline" type="button" >Cancel</button>
        </div>-->

      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!--
<div class="modal">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">I have a nice title</h3>
      </div>
      <div class="modal-body">
        <p>But not much to say...</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline" type="button">Cancel</button>
        <button class="btn btn-primary" type="button">Ok</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>
 -->
