.CookieNotice-BigScreen {
  position: fixed;
  left: 50%;
  height: 50px;
  width: 580px;
  margin-left: -290px;
  bottom: 10px;  
  /*background-color: #f2eee5;*/
  background: #f2eee5;
  background: rgba(242,238,229, 0.7);
  text-align: center;
  border-radius: 15px;
  border: 1px solid #CD7F32;
  /*color: black;*/
}

.CookieNotice-BigScreen p {
  color: black;
}

  .CookieNotice-BigScreen a {
    color: #b8860b;
  }

.CookieNotice-SmallScreen {
  position: fixed;
  left: 5px;
  height: 50px;
  width: 360px;
  /*margin-left: -190px;*/
  bottom: 5px;
  /*  background-color: #f2eee5;*/
  background: #f2eee5;
  background: rgba(242,238,229, 0.7);
  text-align: center;
  border-radius: 15px;
  border: 1px solid #CD7F32;
  /*color: black*/
}

.CookieNotice-SmallScreen p {
  color: black;
}

  .CookieNotice-SmallScreen a {
    color: #b8860b;
  }

/*.header-custom {
  position: fixed;
}*/

.clr-footer {
  background: #c1c1c1;
  height: 60px;
  line-height: 60px;
  padding: 0 24px;
}
