<div id="top"></div>

<div class="clr-row">
  <!--<div class="clr-col-10 clr-offset-1 clr-col-sm-10 clr-offset-sm-1 clr-col-md-10 clr-offset-md-1 clr-col-lg-8 clr-offset-lg-2 clr-col-xl-6 clr-offset-xl-3" style="font-size: large; text-align: justify; text-justify: inter-word;">-->
  <div class="clr-col-12 clr-col-sm-12 clr-col-md-10 clr-offset-md-1 clr-col-lg-8 clr-offset-lg-2 clr-col-xl-6 clr-offset-xl-3" style="font-size: large; text-align: justify; text-justify: inter-word;">


    <p style="font-size:large">
      PAMC has a network of general practitioners across South Africa. Medical scheme clients have direct access to our individually contracted general practitioner network. In order to update your practice's details, please contact <a href="mailto:network@pamc.co.za">network@pamc.co.za</a>.
    </p>

    <h3><u>Join Our Network</u></h3>
    <p style="font-size:large">
      Joining the PAMC network is a simple process where you only need to complete the PAMC contractual agreement and submit supporting documents as instructed on the contract. To join the network, contact our team at <a href="mailto:network@pamc.co.za">network@pamc.co.za</a>
      or please leave your details below and PAMC will contact you with the relevant registration forms.
    </p>
  </div>
</div>

<div class="clr-row">
  <!--<div class="clr-col-10 clr-offset-1 clr-col-sm-10 clr-offset-sm-1 clr-col-md-10 clr-offset-md-1 clr-col-lg-8 clr-offset-lg-2 clr-col-xl-6 clr-offset-xl-3" style="font-size:large">-->
  <div class="clr-col-12 clr-col-sm-12 clr-col-md-10 clr-offset-md-1 clr-col-lg-8 clr-offset-lg-2 clr-col-xl-6 clr-offset-xl-3" style="font-size: large; text-align: justify; text-justify: inter-word;">

    <form class="clr-form clr-form-horizontal" [formGroup]="joinForm">

      <div class="clr-form-control">
        <label for="pracNum" class="clr-control-label">Practice Number</label>
        <div class="clr-control-container">
          <div class="clr-input-wrapper">
            <input type="text" formControlName="pracNum" placeholder="Practice Number" class="clr-input" />
          </div>
        </div>
        <div *ngIf="this.submitted && this.validPracNum==false" class="alert alert-danger">
          Please enter a valid practice number.
        </div>
      </div>

      <div class="clr-form-control">
        <label for="pracName" class="clr-control-label">Practice Name</label>
        <div class="clr-control-container">
          <div class="clr-input-wrapper">
            <input type="text" formControlName="pracName" placeholder="Practice Name" class="clr-input" />
          </div>
        </div>
        <div *ngIf="this.submitted && !this.validPracName" class="alert alert-danger">
          Please enter a practice name.
        </div>
      </div>

      <div class="clr-form-control">
        <label for="contNum" class="clr-control-label">Contact Number</label>
        <div class="clr-control-container">
          <div class="clr-input-wrapper">
            <input type="text" formControlName="contNum" placeholder="Contact Number" class="clr-input" />
          </div>
        </div>
        <div *ngIf="this.submitted && !this.validContNum" class="alert alert-danger">
          Please enter a contact number.
        </div>
      </div>

      <div class="clr-form-control">
        <label for="pracEmail" class="clr-control-label">Email Address</label>
        <div class="clr-control-container">
          <div class="clr-input-wrapper">
            <input type="text" formControlName="pracEmail" placeholder="Email Address" class="clr-input" />
          </div>
        </div>
        <div *ngIf="this.submitted && !this.validPracEmail" class="alert alert-danger">
          Please enter an email address.
        </div>
      </div>

      <br />
      <button class="btn btn-primary" style="background-color: #f6f2e9; color: black; border: solid 1px black" type="submit" (click)="onSubmit()">Submit</button>
    </form>

  </div>
</div>

<!--<clr-modal [(clrModalOpen)]="this._appService.DataService.openFaq" [clrModalSize]="'lg'" [clrModalClosable]="false">
  <h3 class="modal-title">Frequently Asked Questions</h3>
  <div class="modal-body">
    <clr-accordion>
      <clr-accordion-panel *ngFor="let q of this._appService.DataService.faqList">
        <clr-accordion-title>{{q.question}}</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>{{q.answer}}</clr-accordion-content>
      </clr-accordion-panel>
    </clr-accordion>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.DataService.openFaq = false;">Ok</button>
  </div>
</clr-modal>-->

<div *ngIf="this._appService.DataService.showMailSentModal==true">
  <div class="modal">
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
      <div class="modal-content">

        <div class="modal-header">
          <!--<button aria-label="Close" class="close" (click)="this.showCookieFullInfoModal=false" type="button">
    <clr-icon aria-hidden="true" shape="close"></clr-icon>
  </button>-->
          <h3 *ngIf="this._appService.DataService.joinReqResult.success=='1'" class="modal-title">Email Sent</h3>
          <h3 *ngIf="this._appService.DataService.joinReqResult.success=='0'" class="modal-title">Error Occured</h3>
        </div>

        <div class="modal-body">
          <p style="font-size:large" *ngIf="this._appService.DataService.joinReqResult.success=='1'">
            Thank you. An email has been sent and our team will contact you soon.
          </p>
          <p style="font-size:large" *ngIf="this._appService.DataService.joinReqResult.success=='0'">
            Apologies. An arror occured and your request could not be sent. <br /><br />
            {{this._appService.DataService.joinReqResult.message}}
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline" style="background-color: #f2eee5;color:black; border:solid 1px black" (click)="this.CloseMailSentModal()" type="button">Close</button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>


<clr-modal [(clrModalOpen)]="this._appService.DataService.busy " [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body text-center" style="padding: 24px;">
    <span class="spinner">
      Loading...
    </span>
  </div>
</clr-modal>


