<div id="top"></div>

<div class="clr-row">
  
  <div class="clr-col-12 clr-col-sm-12 clr-col-md-10 clr-offset-md-1 clr-col-lg-8 clr-offset-lg-2 clr-col-xl-6 clr-offset-xl-3" style="font-size: large; text-align: justify; text-justify: inter-word;">

    <h3><u>Health Articles</u></h3>
    <p style="font-size:large">
      <b>
        Alcohol Use Disorder
      </b>
      <br />
      <b>
        Alcohol use disorder is a medical illness
      </b>represented by
      inordinate and uncontrolled alcohol consumption. It's also known as alcoholism, alcohol dependence, or alcohol scurrility. People with alcohol use disorder continue to consume alcohol despite the fact that it may cause internal suffering or physical detriment to themselves or others.
    </p>

    <div class="clr-row">
      <div class="clr-col-12" style="text-align: right; margin-top: 10px; margin-bottom: 10px">
        <a href="assets/HealthArticles/February 2024 Article - Alcohol Abuse Disorder.pdf#toolbar=0" target="_blank">more &gt;</a>
      </div>
    </div>

    <hr />



    <p style="font-size:large">
      <b>
        EFFECTS OF SUN-OVER EXPOSURE
      </b>
      <br />
      <b>
        In order to synthesize (process) Vitamin Dand provide calcium absorption for strongerand healthier bones, the body needs sunexposure.
      </b>Due to the effects of carbonemissions in the atmosphere, the naturaldefense against the sun's harmfulultraviolet (UV) rays is reduced, which canharm the skin, and eyes, hinder theimmune system, and can potentially causecancer.
    </p>

    <div class="clr-row">
      <div class="clr-col-12" style="text-align: right; margin-top: 10px; margin-bottom: 10px">
        <a href="assets/HealthArticles/EFFECTS OF SUN-OVER December 2023.pdf#toolbar=0" target="_blank">more &gt;</a>
      </div>
    </div>

    <hr />
    <!--DECEMBERRR-->

    <p style="font-size:large">
      <b>Mens Health Awareness Month</b>
      <br />
      <b>
        Men face unique challenges when it comes to their health, such as higher rates of heart disease andprostate cancer.
      </b>Additionally, societal expectations and stigmas around masculinity can discouragemen from seeking medical help or discussing their health concerns with others.
    </p>

    <div class="clr-row">
      <div class="clr-col-12" style="text-align: right; margin-top: 10px; margin-bottom: 10px">
        <a href="assets/HealthArticles/Mens Health Awareness Month November 2023.pdf#toolbar=0" target="_blank">more &gt;</a>
      </div>
    </div>

    <hr />


    <!---November-->

    <p style="font-size:large">
      <b>Breast Cancer Awarenenss</b>
      <br />
      <b>
        The incidence of breast cancer among South African women is increasing and it is one of the most common cancers among women in South Africa.
      </b>Although it predominantly affects woman, it can also affect men. The early detection of breast cancer is one of the most important undertakings to successfully treat the disease.
    </p>

    <div class="clr-row">
      <div class="clr-col-12" style="text-align: right; margin-top: 10px; margin-bottom: 10px">
        <a href="assets/HealthArticles/BREAST CANCER AWARENESS MONTH October 2023.pdf#toolbar=0" target="_blank">more &gt;</a>
      </div>
    </div>

    <hr />


    <!---October-->




    <p style="font-size:large">
      <b>Heart Awareness Month</b>
      <br />
      <b>
        This is true in every sense. The heart is a delicate but powerful organ
        that works as an engine in our bodies.
      </b>Your heart is an amazing organ.
      It continuously pumps oxygen and nutrient-rich blood throughout your body
      to sustain life. This fist-sized powerhouse beats (expands and contracts)
      100,000 times per day, pumping 5 or 6 quarts of blood each minute, or about 2,000 gallons per day.
    </p>

    <div class="clr-row">
      <div class="clr-col-12" style="text-align: right; margin-top: 10px; margin-bottom: 10px">
        <a href="assets/HealthArticles/HEART AWARENESS MONTH.pdf#toolbar=0" target="_blank">more &gt;</a>
      </div>
    </div>

    <hr />


    <!---September-->

    <p style="font-size:large">
      <b>Organ Donor Month</b>
      <br />
      <b>
        August is National Organ Donor Awareness Month. South Africa is a world leader
        in thefield of organ transplantation.
      </b>However, while the number of patients waiting
      fortransplants continues to increase the
      serious shortage of potential donors remains a greatconcern.
      So go on and save a life, register as an organ donor.
    </p>

    <div class="clr-row">
      <div class="clr-col-12" style="text-align: right; margin-top: 10px; margin-bottom: 10px">
        <a href="assets/HealthArticles/Organ Donor Month.pdf#toolbar=0" target="_blank">more &gt;</a>
      </div>
    </div>

    <hr />
    <!---August-->

    <p style="font-size:large">
      <b>Mental Illness Awareness Month</b>
      <br />
      <b>
        Mental Illness is a medical
        condition that involves significant changes in
        emotions, thinking and behaviour.
      </b>Mental health
      issues may also affect working and personal
      relationships as the way you cope and your daily
      functions will be affected.
    </p>

    <div class="clr-row">
      <div class="clr-col-12" style="text-align: right; margin-top: 10px; margin-bottom: 10px">
        <a href="assets/HealthArticles/Mental Illness Awareness Month - July 2023.pdf#toolbar=0" target="_blank">more &gt;</a>
      </div>
    </div>

    <hr />


    <p style="font-size:large">
      <b>Men's Health Month</b>
      <br />
      <b>As we celebrate Fathers this month, we also zoom into men’s health in general.</b> Traditionally, men are perceived to be physically stronger than women. Unfortunately, research has shown that men are likely to experience chronic health conditions sooner than women.
    </p>

    <div class="clr-row">
      <div class="clr-col-12" style="text-align: right; margin-top: 10px; margin-bottom: 10px">
        <a href="assets/HealthArticles/Men's Health Month - June 2023.pdf#toolbar=0" target="_blank">more &gt;</a>
      </div>
    </div>

    <hr />

    <p style="font-size:large">
      <b>Burns Awareness Month</b>
      <br />
      <b>According to the World Health Organisation</b> nearly 75% of burns in young children are from liquid, hot tap water, or steam. Another 20% are considered "contact" burns from touching a hotobject like a clothes iron or hair appliance.
    </p>

    <div class="clr-row">
      <div class="clr-col-12" style="text-align: right; margin-top: 10px; margin-bottom: 10px">
        <a href="assets/HealthArticles/Burns Awareness Month - May 2023.pdf#toolbar=0" target="_blank">more &gt;</a>
      </div>
    </div>

    <hr />

    <p style="font-size:large">
      <b>Health Awareness Month</b>
      <br />
      <b>African Vaccination Week: 24-30 April 2023</b> A vaccine is a substance used to stimulate the body’s immune response against diseases. Vaccines are administered through needle injections, by mouth, and are also sprayed into the nose.
    </p>

    <div class="clr-row">
      <div class="clr-col-12" style="text-align: right; margin-top: 10px; margin-bottom: 10px">
        <a href="assets/HealthArticles/Health Awareness Month - April 2023.pdf#toolbar=0" target="_blank">more &gt;</a>
      </div>
    </div>

    <hr />

    <p style="font-size:large">
      <b>TB Awareness Month</b>
      <br />
      <b>What is Tuberculosis?</b> Tuberculosis (TB) is a contagious bacterial infection that affects the lungs and respiratory system. Other organs that may be infected are the spine, brain or kidneys.
    </p>

    <div class="clr-row">
      <div class="clr-col-12" style="text-align: right; margin-top: 10px; margin-bottom: 10px">
        <a href="assets/HealthArticles/TB Awareness Month - March 2023.pdf#toolbar=0" target="_blank">more &gt;</a>
      </div>
    </div>

    <hr />

    <p style="font-size:large">
      <b>Healthy Lifestyle</b>
      <br />
      <b>Is it my genes or Am I just lazy?</b> It can be difficult to determine the cause of an issue like this, and it's important to remember that it doesn't have to be one or the other - it could be a combination of both.
    </p>

    <div class="clr-row">
      <div class="clr-col-12" style="text-align: right; margin-top: 10px; margin-bottom: 10px">
        <a href="assets/HealthArticles/Healthy Lifestyle - February 2023.pdf#toolbar=0" target="_blank">more &gt;</a>
      </div>
    </div>

    <hr />

    <p style="font-size:large">
      <b>Skin Cancer Awareness Month</b>
      <br />
      <b>What is skin cancer?</b> The skin is the largest organ of the body that protects the body from germs and regulates body temperature. Just like any other organ, it may develop some medical issues such as skin cancer.
    </p>

    <div class="clr-row">
      <div class="clr-col-12" style="text-align: right; margin-top: 10px; margin-bottom: 10px">
        <a href="assets/HealthArticles/Skin Cancer Awareness Month Jan 2023.pdf#toolbar=0" target="_blank">more &gt;</a>
      </div>
    </div>

    <hr />

    <p style="font-size:large">
      <b>World Aids Day</b>
      <br />
      <b>1 December is World Aids Day</b> Stigma remains a fundamental barrier in fighting HIV, much of the fear and stigma that surrounded the AIDS epidemic of the 1980’s and 1990’s still exists.
    </p>

    <div class="clr-row">
      <div class="clr-col-12" style="text-align: right; margin-top: 10px; margin-bottom: 10px">
        <a href="assets/HealthArticles/PAMC Health Article World Aids Day - December 2022.pdf#toolbar=0" target="_blank">more &gt;</a>
      </div>
    </div>

    <hr />

    <p style="font-size:large">
      <b>Diabetes</b>
      <br />
      <b>National Diabetes Month</b> Diabetes is a chronic disease that occurs either when the pancreas does not produce enough insulin or when the body cannot effectively use the insulin it produces.
    </p>

    <div class="clr-row">
      <div class="clr-col-12" style="text-align: right; margin-top: 10px; margin-bottom: 10px">
        <a href="assets/HealthArticles/PAMC Health Article Diabetes - November 2022.pdf#toolbar=0" target="_blank">more &gt;</a>
      </div>
    </div>

    <hr />

    <p style="font-size:large">
      <b>Breast Cancer</b>
      <br />
      <b>Breast Cancer Awareness Month.</b> Apart from non-melanoma skin cancer, breast cancer is the most common cancer in women of all races, with a lifetime risk of 1 in 27 in South Africa, according to the 2019 National Cancer Registry (NCR).
    </p>

    <div class="clr-row">
      <div class="clr-col-12" style="text-align: right; margin-top: 10px; margin-bottom: 10px">
        <a href="assets/HealthArticles/PAMC Health Article Breast Cancer - October 2022.pdf#toolbar=0" target="_blank">more &gt;</a>
      </div>
    </div>

  </div>
</div>
