<div id="top"></div>

<!--<div class="clr-row">
  <div class="clr-col-1"></div>
  <div class="clr-col-10">
    <div class="clr-row">
      <div class="clr-col-2"></div>
      <div class="clr-col-8 text-center">
        <h3><u>PAMC Privacy Statement</u></h3>
        <br />
      </div>
      <div class="clr-col-2"></div>
    </div>
    <div class="clr-row">
      <div class="clr-col-12">
        <embed src="assets/Information Privacy Statement.pdf#navpanes=0" type="application/pdf" style="width:100%;height:750px" />
      </div>
    </div>
  </div>
  <div class="clr-col-1"></div>
</div>-->

<div class="clr-row">
  <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-12 clr-col-xl-10 clr-offset-xl-1" style="font-size: large; text-align: center;">

    <h3><u>PAMC Privacy Statement</u></h3>
    <br />
    <!--<embed src="assets/Information Privacy Statement.pdf#navpanes=0" type="application/pdf" style="width:100%;height:750px" />--> <!--not working on mobile-->

    <iframe src="assets/Information Privacy Statement.pdf" title='PAMC Privacy Statement' width="100%" height="750px">
    </iframe>

    <!--not working correctly-->
    <!--<object data="assets/Information Privacy Statement.pdf" type="application/pdf" width="100%" height="750px">
      <p>
        Your web browser doesn't have a PDF plugin.
        Instead you can <a href="../../assets/Information Privacy Statement.pdf">
          click here to
          download the PDF file.
        </a>
      </p>
    </object>-->

  </div>
</div>
