<div id="top"></div>

<div class="clr-row">
  <!--<div class="clr-col-10 clr-offset-1 clr-col-sm-10 clr-offset-sm-1 clr-col-md-10 clr-offset-md-1 clr-col-lg-8 clr-offset-lg-2 clr-col-xl-6 clr-offset-xl-3" style="font-size: large; text-align: justify; text-justify: inter-word;">-->
  <div class="clr-col-12 clr-col-sm-12 clr-col-md-10 clr-offset-md-1 clr-col-lg-8 clr-offset-lg-2 clr-col-xl-6 clr-offset-xl-3" style="font-size: large; text-align: justify; text-justify: inter-word;">

    <!--<table class="table">
    <tbody>-->
    <!--<tr>
      <td>
        <img src="../../assets/PAMC - Logo.jpg" alt="DRC logo" style="max-height:375px;max-width:400px;height:auto;width:auto">
      </td>
    </tr>-->
    <!--<tr>
      <td style="background-color: #DDDDDD;font-size:large;border-bottom:thin">
        <b>SERVICE PORTALS</b>
      </td>
    </tr>
    <tr>
      <td class="text left">-->

    <h3><u>Provider Portal</u></h3>
    <p style="font-size:large">
      This portal is used by our network providers and can also be used by non-network providers (with limited access to certain functions). The provider portal gives providers the ability to do member eligibility checks, view authorisation and claim statuses and lastly to download remittances. By using the provider portal providers can assist a member immediately by doing all the necessary confirmations via the portal without contacting our call centre first.
      <br /><br />
      Should you require your login details, email <a href="mailto:portalregistration@pamc.co.za">portalregistration@pamc.co.za</a> with your name and 7 digit
      practice number as the subject or if you require technical support, contact our team at <a href="mailto:providerportal@pamc.co.za">providerportal@pamc.co.za</a>.
      <br /><br />
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Q_DkbeSlDfc?si=SZh_dn_CdgEoGKTO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


      <!--<iframe width="400" height="269"
          src="https://www.youtube.com/embed/MSAIo-BQXHY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
  </iframe>-->
      <br /><br />
      <b>Click <a href="https://www.pamc.co.za/PamcPortal">here</a> to go to the provider portal.</b>
      <br /> <br />
      Click <b><a href="javascript:void(0)" (click)="GetFaqForProviders()">here</a></b> to view Frequently Asked Questions about the Provider Portal.
    </p>

    <!--<p><a href="http://www.youtube.com/watch_popup?v=fxfzBQHMVmc" target="_blank">Click here to watch our MediVouch demonstration</a></p>-->

    <br />

    <!--<h3 id="MediVouchSection">Voucher Partners</h3>

    <p style="font-size:large">
      PAMC is proud to announce its partnership with MediVouch, which we will be launching in the near future. Spend less time chasing payments and more time delivering quality patient care. See the instructional video below:
    </p>
    <br />
    <iframe width="400" height="269"
            src="https://www.youtube.com/embed/jDV22ADkXhE"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>

    <br />-->

    <!--<h3><u>Continuous Professional Development Portal</u></h3>
    <p style="font-size:large">
      The PAMC CPD Portal is an online Continuous Professional Development (CPD) management and training platform for Healthcare Professionals forming part of the PAMC network. The platform equips PAMC network providers with the necessary tools, resources, and cutting-edge compliance features to meet their CPD requirements with ease and be compliant. The platform also features a wide range of training opportunities to help professionals find the most suitable CPD conference or workshop to attend. Click the button below to view the PAMC CPD Portal.
    </p>
    <p style="font-size:large">
      The Cardiac Holter Monitor offers extended ambulatory Cardiac Monitoring Solution that will assist the Medical Practitioner in the detection of cardiac arrhythmias and related symptoms, allowing more effective treatment and decreasing result turnaround time. The device is easy to use, faster to diagnose, and more comfortable than the traditional ECG devises.
    </p>
    <p style="font-size:large">
      The Holter is free of charge once you completed the CPD learning material on the PAMC CPD Portal. The Vertice Digital Health team will arrange the delivery of your device to your practice once you have completed the application process. Please note that there is a cost per patient regarding the reading of the information collected by the Holter and this will be explained within the agreement and VLP course.
    </p>

    <br />-->

    <!--<a href="https://cpd.pamc.co.za/" target="_blank" class="btn btn-primary btn-link" style="background-color: #f6f2e9; color: black; border: solid 1px black">PAMC CPD Portal</a>-->

    <!--<p style="font-size:large"><b>Click <a href="https://cpd.pamc.co.za/" target="_blank">here</a> to go to the PAMC CPD Portal.</b></p>-->

    <br />

    <h3><u>Client Portal</u></h3>
    <p style="font-size:large">
      This portal is used by our clients for whom we administer claims.
      The client portal gives our clients the ability to capture claims, submit payment runs and lastly to view and adjust/reject claims.
      By using this portal we save a lot of time and our client can also in return provide a speedier service to their members since there is no
      need to call our call centre to confirm claims statuses etc. everything can be done directly on the portal.
      <br /><br />
      <b>Click <a href="https://www.pamc.co.za/PamcPortal">here</a> to go to the client portal.</b>
      <br /><br />
      <!--No Client FAQs loaded yet-->
      <!--Click <b><a (click)="GetFaqForClients()">here</a></b> to view Frequently Asked Questions about the Client Portal.-->
    </p>

    <h3><u>Bureau Portal</u></h3>
    <p style="font-size:large">
      This portal is used by bureaus that are registered on our system. This bureau portal gives bureaus the ability to view all the claims of
      providers that are linked to them on our system, they can also download remittances for these claims. The portal also provides them
      with a screen that lists all the providers linked to them on our system.
      <br /> <br />
      <b>Click <a href="https://www.pamc.co.za/PamcPortal">here</a> to go to the bureau portal.</b>
      <br /><br />
      <!--No Bureau FAQs loaded yet-->
      <!--Click <b><a (click)="GetFaqForBureaus()">here</a></b> to view Frequently Asked Questions about the Bureau Portal.-->
    </p>

    <!--<ul>
      <li style="padding:10px 10px 10px 10px;">
        <a href="http://192.168.16.6:3535/PamcPortal" style="font-size: large; text-decoration: underline; color: black ">Client Portal</a>
        <br />
        <br />
        <span style="color:grey">
          This portal is used by our clients for whom we administer claims.
          The client portal gives our clients the abillity to capture claims, submit payment runs and lastly to view and adjust/reject claims.
          By using this portal we save a lot of time and our client can also in return provide a speedier service to their members since there is no
          need to call our call center to confrim claims statuses etc. everything can be done directly on the portal.
        </span>
        <br />
        <br />
        <span style="color:grey"><b>Click <a href="http://192.168.16.6:3535/PamcPortal">here</a> to go the client portal.</b></span><br /><br />
        <span style="color:grey">Click <b><a (click)="GetFaqForClients()">here</a></b> to view Frequently Asked Questions about the Client Portal.</span>

      </li>

      <li style="padding: 10px 10px 10px 10px; ">
        <a href="http://192.168.16.6:3535/PamcPortal" style="font-size: large">Provider Portal</a><br />
        <br />
        <span style="color:grey">
          This portal is used by our network providers and can also be used by non network providers (with limited access to certain functions).
          The provider portal gives providers the abillity to do member eligibility checks, benefit confirmations, submit authorizations, view claim statuses and lastly
          to download remittances and provider manuals. By using the provider portal providers can assist a member immediately by doing all the necessary confirmationss via
          the portal without needing to call our call center first.
        </span>
        <br />
        <br />
        <span style="color:grey"><b>Click <a href="http://192.168.16.6:3535/PamcPortal">here</a> to go the provider portal.</b></span><br /><br />
        <span style="color:grey">Click <b><a (click)="GetFaqForProviders()">here</a></b> to view Frequently Asked Questions about the Provider Portal. </span>

      </li>
      <li style="padding:10px 10px 10px 10px">
        <a href="http://192.168.16.6:3535/PamcPortal" style="font-size: large">Bureau Portal</a><br />
        <br />
        <span style="color:grey">
          This portal is used by bureaus that are registered on our system. This bureau portal gives bureaus the abillity to view all the claims of
          providers that are linked to them on our system, they can also download remittances for these claims. The portal also provides them
          with a screen that lists all the providers linked to them on our system.
        </span>
        <br />
        <br />
        <span style="color:grey"><b>Click <a href="http://192.168.16.6:3535/PamcPortal">here</a> to go the bureau portal.</b></span><br /><br />
        <span style="color:grey">Click <b><a (click)="GetFaqForBureaus()">here</a></b> to view Frequently Asked Questions about the Bureau Portal.</span>

      </li>
    </ul>-->
    <!--</td>
    </tr>-->
    <!--<tr>
      <td>
        <img src="../../assets/DRC_Logo.png" alt="DRC logo" style="max-height:175px;max-width:200px;height:auto;width:auto">
      </td>
    </tr>-->
    <!--<tr>
      <td style="background-color: #DDDDDD;font-size:large;border-bottom:thin">
        <b>WEBSITES</b>
      </td>
    </tr>
    <tr>
      <td class="text left">
        <h3><u>The Dental Risk Company (DRC) Website</u></h3>
        <br />
        <p style="font-size:large">
          The Dental Risk Company (DRC) website contains all the information regarding Dental Risk Company (DRC) and the services we provide, including a list of clients and their options administered by Dental Risk Company (DRC)/PAMC.
          On the Dental Risk Company (DRC) website you will also find a link where the Dental Risk Company (DRC) rates and authorization forms can be downloaded.
          <br />
          <br />
          <b>Click <a href="https://www.dentalrisk.com">here</a> to go the Dental Risk Company (DRC) website.</b>
        </p>
      </td>
    </tr>-->
    <!--<tr>
      <td style="background-color: #DDDDDD;font-size:large;border-bottom:thin">
        <b> PAMC POPIA STATEMENTS</b>
      </td>
    </tr>
    <tr>
      <td class="text left">
        <ul>
          <li style="padding:10px 10px 10px 10px">
            Click <a href="../../assets/Information Privacy Statement - Pan-African Managed Care (Pty) Ltd.pdf"
      download><b>here</b></a> to download and view our privacy statement.

          </li>
        </ul>
      </td>
    </tr>-->
    <!--</tbody>
    </table>-->

  </div>


</div>

<clr-modal [(clrModalOpen)]="this._appService.DataService.openFaq" [clrModalSize]="'lg'" [clrModalClosable]="false">
  <h3 class="modal-title">Frequently Asked Questions</h3>
  <div class="modal-body">
    <clr-accordion>
      <clr-accordion-panel *ngFor="let q of this._appService.DataService.faqList">
        <clr-accordion-title>{{q.question}}</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>{{q.answer}}</clr-accordion-content>
      </clr-accordion-panel>
    </clr-accordion>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.DataService.openFaq = false;">Ok</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.DataService.busy " [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body text-center" style="padding: 24px;">
    <span class="spinner">
      Loading...
    </span>
  </div>
</clr-modal>
