<!--<br />

<div class="clr-row">
  <div class="clr-col-2"></div>
  <div class="clr-col-8" style="text-align:center">
    <img src="../../assets/PAMC - Logo.jpg" style="max-height:425px;max-width:400px;height:auto;width:auto" />
  </div>
  <div class="clr-col-2"></div>
</div>

<br />-->

<div id="top"></div>

<div class="clr-row">
  <!--<div class="clr-col-10 clr-offset-1 clr-col-sm-10 clr-offset-sm-1 clr-col-md-10 clr-offset-md-1 clr-col-lg-8 clr-offset-lg-2 clr-col-xl-6 clr-offset-xl-3" style="font-size: large; text-align: justify; text-justify: inter-word;">-->
  <div class="clr-col-12 clr-col-sm-12 clr-col-md-10 clr-offset-md-1 clr-col-lg-8 clr-offset-lg-2 clr-col-xl-6 clr-offset-xl-3" style="font-size: large; text-align: justify; text-justify: inter-word;">

    <h3><u>Introduction</u></h3>
    <p style="font-size:large">Medical schemes recognise the important role that family practitioners play as the true gatekeeper and primary healthcare co-ordinator. The establishment of a family practitioner network will contribute and enhance the appropriate utilisation of medical scheme benefits. Pan African Managed Care (PAMC) empowers service providers with the necessary tools to enable them to fulfil their role in enhancing clinical interventions within the existing healthcare system.</p>

    <p style="font-size:large">PAMC is an accredited Managed Care Organisation with the Council of Medical Schemes (CMS) for the management of primary care networks. The ultimate goal of PAMC is to improve the health status of patients through individually contracted general practitioner networks. PAMC contributes to this by having clinical protocols and baskets of care in place in order to maintain and improve the quality of healthcare by monitoring the treatment of CDL conditions in accordance with our protocols and baskets of care.</p>

    <p style="font-size:large">PAMC ensures that members receive the best possible access to healthcare through interventions from our contracted network. PAMC has a well-established network of 3600 contracted service providers who have a large geographical footprint.</p>

    <h3><u>Our Vision</u></h3>
    <p style="font-size:large">To enhance the quality of our clients' healthcare outcomes through the implementation and management of our clinical interventions with providers making us the leader in primary healthcare management.</p>

    <h3><u>Our Mission</u></h3>
    <p style="font-size:large">To promote and expand access to clinically efficient and effective healthcare services with measurable outcomes.</p>

    <h3><u>Our Values</u></h3>
    <br />
    <ul>
      <li>
        <b>Knowledge driven</b>
        <ul style="list-style-type: none; padding-left: 0.25em; ">
          <li>To continue to learn and improve.</li>
        </ul>
      </li>
      <br />
      <li>
        <b>Ethically sound</b>
        <ul style="list-style-type: none; padding-left: 0.25em;">
          <li>To address relevant ethical and clinical issues.</li>
        </ul>
      </li>
      <br />
      <li>
        <b>Information driven</b>
        <ul style="list-style-type: none; padding-left: 0.25em;">
          <li>To ensure that information is managed and confidentiality is ensured.</li>
        </ul>
      </li>
      <br />
      <li>
        <b>Results driven</b>
        <ul style="list-style-type: none; padding-left: 0.25em;">
          <li>To exceed expectations.</li>
        </ul>
      </li>
    </ul>


    <br />
    
  </div>
</div>
<br />


